# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

# For type Script
# Based on https://github.com/Microsoft/TypeScript/blob/master/.editorconfig
[{src,scripts}/**.{ts,json,js}]
end_of_line = lf # linux end prefered
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4